@media only screen and (max-width: 400px) {
  
  .featured--info, .featured--name{
    
    text-align: left;
  } 
}

@media only screen and (max-width: 600px){
  .featured--description  {
    width:100%!important;
    font-size: 10px;
    text-align: center;
    padding-right: 30px;
    color:#bebaba;
  }
}

.featured{
  height: 100vh;
  
}

.featured--vertical, .featured--horizontal {
  width: inherit;
  height: inherit;
  
}

.featured--vertical {
  background: linear-gradient(to top, #111 1% ,transparent);
}

.featured--horizontal{
  background: linear-gradient(to right, #111 12% ,transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  padding-left: 30px;
  padding-bottom: 150px;
}

.featured--description{
  text-overflow: ellipsis;
}

.featured--name {
  font-size: 60px;
  font-weight: bold;
  
  
}

.featured--info{
  font-size:18px;
  font-weight: bold;
  margin-top: 15px;
}

.featured--seasons, .featured--year, .featured--points {
  display: inline-block;
  margin-right: 15px;
}


.featured--points{
  color:#46d369;
  font-weight: bold;
}

.featured--description{
  margin-top: 15px;
  font-size:20px;
  color:#999;
  width: 40% ;
  text-align: justify;
}

.featured--buttons{
  margin-top: 15px;
}

.featured--wbutton, .featured--mylistButton{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
  transition: all ease 0.5s;
}

.featured--wbutton:hover, .featured--mylistButton:hover{
    opacity: 0.7;
}

.featured--wbutton{
  background-color: #f2f2f2;
  color:#111;
}

.featured--mylistButton{
  background-color: #333 ;
  color: #f2f2f2;
}

.featured--genres{
  margin-top: 15px;
  font-size: 18px;
  color:#999;
}